.container{
  max-width: 1444px;
  margin: 0 auto 30px auto;
  padding: 0 135px;
  height: 656px;
  display: flex;
  flex-direction: row;
}

.headlineContainer{
  background: linear-gradient(311.76deg, #D4E7FE -15.24%, #FFFFFF 78.85%);
  height: 100%;
}

.headlineContent{
  flex: 6rem;
  margin-top: 125px;
}

.headlineImage{
  margin-top: 40px;
  flex: 6rem;
}

.imageContainer {
  position: relative;

  width: 100%;

  > div {
    position: unset !important;
  }

  .image {
    margin-left: -50px;
    object-fit: contain;
    width: 585px;
    height: 501px;
  }
}

.community{
  border: none;
}

.communityButton{
  font-family: Inter, serif;
  font-weight: 500;
  border: none;
  font-size: 12px;
  color: #217BF4;
  background: rgba(33, 123, 244, 0.1);
  padding: 12px 30px;
  border-radius: 10px;

  font-style: normal;
  line-height: 12px;
  /* identical to box height, or 100% */

  text-align: center;

}

.solutionsForCommunity{
  margin-top: 25px;
  font-weight: 700;

  font-family: 'Inter', serif;
  font-style: normal;
  font-size: 56px;
  line-height: 66px;

  color: #0A093D;
}

.moreThan{
  margin-top: 20px;
  width: 85%;
  line-height: 160%;
  font-family: Inter, serif;
  font-weight: 400;
  color: #656464;
  font-size: 18px;
}

.buttons{
  margin-top: 40px;
  width: 100%;
}

.about{
  padding: 25px 40px;
  border: none;
  background: #217BF4;
  border-radius: 14px;
  color: white;
  font-family: Inter, serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 10px;

  box-shadow: 0 7px 22px -6px rgba(33, 123, 244, 0.34);
}

.invite{
  margin-left: 18px;
  padding: 25px 40px;
  background: none;
  border-radius: 14px;
  color: #217BF4;
  font-family: Inter, serif;
  border: 1px solid rgba(31, 123, 244, 0.5);
  line-height: 10px;
  font-weight: 400;
  font-size: 15px;
}

@media screen and (max-width: 920px) {
  .container{
    max-width: 100%;
    padding: 0 26px;
    margin: 0 auto 30px auto;
    height: 656px;
    display: flex;
    flex-direction: row;
  }
  .headlineImage{
    display: none;
  }
  .headlineContent{
    margin-top: 65px;
  }

  .invite{
    padding: 15px 30px;
    margin-left: 20px;
  }

  .about{
    padding: 15px 30px;
  }

}

@media screen and (min-width: 921px) and (max-width: 1200px) {
  .invite{
    padding: 15px 30px;
    margin-left: 20px;
  }

  .about{
    padding: 15px 30px;
  }

}
