.navbar_container{
  width: 100%;
  height: calc(13vh + 1px);
  padding: 0 9% 0 9%;
  -webkit-box-shadow: inset 0px -1px 0px 0px rgba(33,123,244,0.1);
  -moz-box-shadow: inset 0px -1px 0px 0px rgba(33,123,244,0.1);
  box-shadow: inset 0px -1px 0px 0px rgba(33,123,244,0.1);
}

.left_menu{
  display: inline-block;
  position: relative;
  float: left;
  top: 40%;
}

.right_menu{
  display: inline-block;
  position: relative;
  float: right;
  top: 40%;
}

.logo{
  margin-top: -10px;
  position: absolute;
  display: inline-block;
  color: #2B2B39;
  font-family: Poppins, serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 10px;
}

.logo_icon{
  display: inline-block;
}

.logo_text{
  display: inline-block;
  vertical-align: super;
  margin-left: 7px;
  font-size: 25px;
}

.option{
  display: inline-block;
  color: #656464;
  font-family: Inter, serif;
  font-weight: 500;
  margin-left: 2.5vw;
  font-size: 15px;
  line-height: 10px;
}

.option>button{
  padding: 22px 50px;
  border: none;
  background: #217BF4;
  border-radius: 21px;
  color: white;
  font-family: Inter, serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 10px;
  margin-top: -30%;
}

.option:first-of-type{
  padding-left: 12.5vw;
}

.right_menu>.option:first-of-type{
  padding-left: 0;
}

.active{
  color: #2B2B39;
  font-weight: 600;
}

.search{
  font-size: 12px;
  font-weight:400;
  -webkit-box-shadow: inset 0px -1px 0px 0px rgba(33,123,244,0.1);
  -moz-box-shadow: inset 0px -1px 0px 0px rgba(33,123,244,0.1);
  box-shadow: inset 0px -1px 0px 0px rgba(33,123,244,0.1);
  padding-bottom: 30px;
}

.searchGlass{
  margin-right: 5px;
}
