.container{
  width: 100%;
  max-width: 1444px;
  padding: 0 100px;
  margin: 13.5vh auto 30px auto;
  display: flex;
}

//.container>div{
//  flex: 1rem;
//}

.text{
  flex: 1rem;
  margin-top: 10vh;
}

.images{
  flex: 1rem;
  display: flex;
  flex-direction: row;
}

.whats{
  color: #217BF4;
  font-family: Inter, serif;
  font-weight: 500;
  font-size: 18px;
}

.whyJoin{
  font-family: Inter, serif;
  font-weight: 700;
  font-size: 32px;
  color: #0A093D;
  width: 70%;
  margin-top: 20px;
}

.surveys{
  margin-top: 25px;
  width: 72%;
  font-family: Inter, serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  color: #656464;
}

.row{
  flex: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.up{
    flex: 1rem;
}

.down{
  flex: 1rem;
}

.image{
  margin: 15px;
  border-radius: 15px;
}

.list{
  margin-top: 30px;
  margin-left: 18px;
}

.list>li{
  margin-top: 11px;
  font-family: Inter, serif;
  font-weight: 400;
  color: #0A093D;
  font-size: 20px;
  list-style: url("/bullet.svg");
}

.list>li::marker{
  color: #217BF4;
}
