.container{
  margin-top: 13.5vh;
  width: 100%;
  padding: 0 9%;
  display: flex;
  margin-bottom: 30px;
}

//.container>div{
//  flex: 1rem;
//}

.text{
  flex: 50vw;
}

.images{
  flex: 1rem;
}

.whats{
  color: #217BF4;
  font-family: Inter, serif;
  font-weight: 500;
  font-size: 18px;
}

.whyJoin{
  font-family: Inter, serif;
  font-weight: 700;
  font-size: 32px;
  color: #0A093D;
  width: 70%;
}

.surveys{
  width: 72%;
  font-family: Inter, serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  color: #656464;
}

.images{
  display: flex;
  flex-direction: row;
}

.row{
  flex: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.up{
    flex: 1rem;
}

.down{
  flex: 1rem;
}

.image{
  margin: 15px;
  border-radius: 15px;
}
